nltk
streamlit
tenacity
openai
google-api-python-client
langchain_google_genai
langchain_text_splitters
langchain.chains.summarize
pytube
transformers
python-dotenv
google-auth-httplib2 
google-auth-oauthlib
